@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>System</h3>
    <p>
        Hi, this is my first application that uses free APIs.
        I used OpenWeatherMap.org and ipgeolocation.io.
    </p>
</div>